*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}

@font-face {
    font-family: 'shaka-pow';
    src: url(/font/Shaka\ Pow.ttf) format('truetype');
}


body{
    background-color: black;
}



.container{
   max-width: 1200px;
   margin: auto;
   padding: 40px;
}




.header{
    padding: 10px;

   
}

.title{
    font-family:shaka-pow;
    font-size: 30px;
    color: ghostwhite;
    margin: 10px;
    text-align: center;
    
}

main{
    padding: 50px;
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card_inicio{
    width: 50%;
    margin: 40px auto;
    border-radius: 20px;
    padding: 40px;
    border-color: black;
    background:rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-align: center;
}



.btn{
    margin:10px auto;
    padding: 15px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #F75E25;
    color: white;
    font-size: 20px;
    cursor: pointer;
   
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-color: red;
}

.btn:active{
    background-color: transparent;
}



.list li{
    text-align: start;
    margin-left: 15px;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.input{
    margin-top: 10px;
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}



#imagen{
    width: 200px;
}

#palabra_a_adivinar{
    height: 3em;
}

#palabra_a_adivinar span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block; 
}


.card_teclas{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
}

.btn_sec{
    margin-top: 35px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
}
.teclas{
    width: 40px;
    padding: 6px 0;
    text-align: center;
    border-radius: 5px;
    border-color: transparent;
    background-color: #F75E25;
    color: white;
    cursor: pointer;
}

.teclas:active{
    background-color: transparent;
}

.pantalla_juego{
    width: 50%;
    margin: 40px auto;
    text-align: center;
    padding: 40px;
    background:rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    cursor: pointer;


}
  
.hidden{
    display: none;
}


.sec-title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: shaka-pow;
    text-align: center;
    color: white;
    padding: 30px 0;
}

.sec-title h2, a{
    font-family: monospace;
    font-size: 20px;
    margin-top: 20px;
    
}

@media (min-width:320px) and (max-width:500px){

    .card_inicio{
        width: 350px;
        height: 400px;
        padding: 50px auto;
        flex-wrap: wrap;
        
        
    }

    .btn{
        padding: 15px;
        font-size: 15px;
    }

    .list li{
        font-size: 12px;
    }

    .input{
        font-size: 15px;
        width: 240px;
    }

    .pantalla_juego{
        width: 360px;
        padding:50px auto;
       
    }

    .teclas{
        width: 30px;
        padding: 10px 0;
    }

    .sec-title{
        flex-direction: column;
    }


    .sec-title h2, a{
        font-size: 15px;
    }
}


